/* Desktop view*/
*{
    box-sizing: border-box;
}
/* The Body */
body{
    margin: 0;
    padding: 0;
    background:hsl(217, 28%, 15%) ;
    color: white;
    font-family: "Open Sans", sans-serif;
    width: 100%;
}
/* The Navigation menu */
.nav-bar{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.header-logo{
    padding-left: 40px;
}
.nav ul {
    list-style-type: none;
    display: flex;
}
.nav ul a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    padding-left: 50px;
    color: hsl(0, 0%, 100%);
}
.nav ul li a:hover {
    text-decoration: none;
    color: rgb(12, 175, 250);
}
/* Introductory illustration */
.illustration-intro{
    margin-top: -100px;
    position: relative;
    top: 200px;
}
.intro-image {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.intro{
    text-align: center;
}
.intro h1{
    margin-left: auto; 
    margin-right: auto;
    font-size: 2.5em;
    line-height: 3.5rem;
    width:700px;
    font-family: "Raleway",sans-serif;
}
.intro p{
    margin-left: auto; 
    margin-right: auto; 
    font-size: 1.2em;
    line-height: 1.8rem;
    width:550px;
}
.intro button{
    padding: 15px 60px;
    color:white;
    background: linear-gradient(120deg,hsl(176,68%,64%),hsl(198,60%,50%));
    border-radius: 50px;
    border: none;
    font-family: "Raleway",sans-serif;
    font-size:large;
    cursor: pointer;
}
.intro button:hover{
    background: rgb(3, 255, 238);
}
/* Curved background image and grided icons */
.background-body {
    width: 100%;
    background-image: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
}
.inner-background-image {
    background-color: hsl(218, 28%, 13%);
    padding-top: 0px;
    padding-bottom: 100px;
}
.points {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    gap: 150px;
    margin-top: 400px;
    margin-bottom: 80px;
}
/* Productivity section */
.section-three {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 95%;
    gap: 100px;
    margin-bottom: 80px;
    justify-content: center;
}
.productive-image {
    margin-left: 60px;
}
.productive-text {
    margin-top: auto;
    margin-bottom: auto;
}
.productive-text h1 {
    font-size: 30px;
    width: 300px;
    font-family: "Raleway", sans-serif;
}
.productive-text a {
    text-decoration: none;
    color: hsl(176, 68%, 64%);
    border-bottom: 2px solid hsl(176, 68%, 64%);
}
.productive-text a:hover{
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
}
/* Profile section */
.quote {
    margin-left: 120px;
}
.inner-quotes {
    position: relative;
    bottom: 15px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
}
.inner-quotes article {
    background-color: hsl(219, 30%, 18%);
    padding: 20px;
    box-shadow: 10px 10px 20px hsl(216, 53%, 9%);
    border-radius: 2%;
}
.profile {
    display: flex;
}
.image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.role1 {
    margin-left: -85px;
    margin-top: 25px;
    font-size: 12px;
}
.role2 {
    margin-left: -115px;
    margin-top: 25px;
    font-size: 12px;
}
.role3 {
    margin-left: -60px;
    margin-top: 25px;
    font-size: 12px;
}
/* Sign-in section */
.sign-in {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    background-color: hsl(217, 28%, 15%);
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    top: 320px;
    box-shadow: 10px 10px 20px hsl(216, 53%, 9%);
    border-radius: 10px;
    margin-bottom: 100px;
}
.sign-in h2{
    font-family: "Raleway","sans-serif";
    font-size: 30px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 25px;
}
.sign-in-text {
    width: 600px;
    margin: 0px auto;
    margin-bottom: 30px;
    line-height: 20px;
}
input{
    width: 350px;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-right: 20px;
}
#button{
    padding: 10px 40px 10px 40px;
    background: linear-gradient( hsl(176,68%,64%),hsl(198,60%,50%));
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
#button:hover{
    background: rgb(3, 255, 238);
}
/* Footer section*/
footer{
    background-color: hsl(216, 53%, 9%);
}
.main-footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    font-size: 14px;
    padding-bottom: 100px;
}
.inner-footer {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 50px;
}
.location {
    width: 400px;
    display: flex;
    margin-top: 20px;
}
.footer-logo {
    margin-left: -40px;
}
.location-image {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.location p {
    margin-top: -5px;
    width: 300px;
}
.contact{
    cursor: pointer;
}
.contact img {
    padding-right: 12px;
}
.info ul li, .contact-links ul li {
    list-style-type: none;
    padding-bottom: 10px;
    cursor: pointer;
}
.info ul li a, .contact-links ul li a{
    text-decoration: none;
    color: white;
}
/*Social media icons */
.fa {
    padding: 10px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50px;
    border: 1px solid white;
    color: white;
}
.info ul li a:hover, .contact-links ul li a:hover, .fa:hover {
    color: rgb(3, 255, 238);
}

/* Mobile view*/
@media (max-width: 480px){
    
    /* The Navigation menu */
    .nav-bar{
        width: 95%;
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
    }
    .header-logo{
        width: 35%;
        height: 40%;
    }
    .nav ul li{
        margin-left: -20px;
    }
    /* Introductory illustration */
    .illustration-intro{
        margin-top: -100px;
        position: relative;
        top: 200px;
        margin-bottom: -50%;
    }
    .intro-image img{
        width: 80%;
    }
    .intro h1{
        margin-left: auto; 
        margin-right: auto;
        font-size: 1.8em;
        line-height: 3.0rem;
        width: 70%;
    }
    .intro p{
        margin-left: auto; 
        margin-right: auto; 
        font-size: 1.0em;
        line-height: 1.8rem;
        width:70%;
    }
    /* Curved background image and grided icons */
    .background-body {
        width: 100%;
        background-image: url(images/bg-curvy-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .points{
        grid-template-columns: 1fr;
        padding-top:100%;
        margin-top: 30%;
        margin-bottom: 80px;
    }
    /* Productivity section */
    .section-three {
        display: grid;
        grid-template-columns: 1fr;
        width: 85%;
        gap: 10px;
        margin-bottom: 30%;
        justify-content: center;
    }
    .productive-image {
        width: 85%;
    }
    .productive-text {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
    .productive-text h1 {
        font-size: 20px;
        width: 95%;
        font-family: "Raleway", sans-serif;
    }
    /* Profile section */
    .quote {
        margin-left: 70px;
    }
    .inner-quotes {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        width: 75%;
        margin-bottom: -30%;
    }
    /* Sign-in section */
    .sign-in {
        width: 90%;
        top: 370px;
    }
    .sign-in h2{
        font-size: 25px;
    }
    .sign-in-text {
        width: 80%;
        line-height: 25px;
    }
    input{
        width: 80%;
        padding: 20px 40px;
        border-radius: 50px;
        margin-bottom: 30px;
        margin-right: 0px;
    }
    #button{
        padding: 20px 40px;
        width: 80%;
        border-radius: 50px;
    }
    /* Footer section*/
    .main-footer {
        padding-top: 250px;
        padding-bottom: 40px;
    }
    .inner-footer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        margin-bottom: 0px;
    }
    .footer-logo {
        margin-left: 0px;
        padding-bottom: 40px;
    }
    .location p {
        width: 50%;
        line-height: 1.5rem;
    }
    .contact{
        margin-top: -15%;   
    }
    .contact img {
        padding-right: 20px;
    }
    .info , .contact-links  {
        margin-left: -10%;
    }
    /*Social media icons */
    .social-media {
        text-align: center;
    }

}
